<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/new">
        <label for="user">Name: </label>
        <input type="text" placeholder="Joe Biden" name="user" id="user"/>
        <label for="message">Message: </label>
        <textarea placeholder="my message" name="message" id="message"></textarea>
        <label for="date">Date: </label>
        <input type="date" name="date" id="date"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>